    header {
        font-size: 20px;
        position: relative;
    }
    
    section.slider {
        background: url("../images/body/abstract2.jpg");
        margin: 0;
        width: 100%;
        height: auto;
        background-size: cover;
        background-position: center;
        background-repeat: repeat;
        background-attachment: fixed;
        justify-content: center;
    }
    
    section div.test {
        padding: 10px;
        margin-top: 40px;
        position: relative;
        color: rgb(11, 99, 99);
        text-align: center;
    }
    
    footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }